<section class="event-list container-fluid h-50  d-flex flex-column align-items-center mt-2 pt-2">
  <div class="col-11 bg-white p-5 mt-4 shadow van-info-box mb-5">
    <div class="h3"> <%= t "event.title.event_entry_list_tilte" %><br><hr class="title-hr"></div>                
    <div class="d-none d-md-block d-sm-none">  
      <table class="table table-bordered table-responsive-md">
        <thead class="com-bg-color text-white">
        <tr>
          <th scope="col"><%= t('event.title.event_date') %></th>
          <th scope="col"><%= Company::Event.human_attribute_name('event_name') %></th>
          <th scope="col"><%= Company::Event.human_attribute_name('venue') %></th>
          <th scope="col"><%= t('event.title.event_entry_count') %></th>
          <th scope="col"><%= t('event.title.publish_status') %></th>
          <th scope="col"><%= t('event.title.edit_text_title') %></th>
        </tr>
        </thead>
        <tbody>
          <% currentDate = Date.today %>
          <% @company_events.each  do |event| %>
            <tr>
              <td class="text-break"><%= l event.event_start_date %>～<%= l event.event_end_date %></td>
              <td class="text-break"><%= event.event_name %></td>
              <td class="text-break"><%= event.venue %></td>
              <td class="text-break e-col com" data-link="<%= company_join_event_student_list_path(:id => event.id) %>"><%= @count[event.id] == nil ? '0' : @count[event.id] %><%= t('unit.persons')%></td>
              <td class="text-break"><%= currentDate.between?(event.post_start_date, event.post_end_date)? t("event.title.publishing") : ((currentDate > event.post_start_date &&  currentDate > event.post_end_date)? t("event.title.published") : t("event.title.un_publish")) %></td>
              <td class="text-break e-col com" data-link="<%= edit_company_event_path(:id => event.id) %>"><%= t('event.title.edit_text') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row d-content d-md-none d-lg-none d-xl-none">
      <% currentDate = Date.today %>
      <% @company_events.each do |event| %>
        <div class="mobile-table row com-info-box p-3 mb-4">
          <span class="h6 com-font-color col-4"><%= t('event.title.event_date') %></span>
          <span class="col-8 text-muted text-break"><%= l event.event_start_date %>～<%= l event.event_end_date %></span><br>
          <span class="h6 com-font-color col-4"><%= Company::Event.human_attribute_name('event_name') %></span>
          <span class="col-8 text-muted text-break"><%= event.event_name %></span><br>
          <span class="h6 com-font-color col-4"><%= Company::Event.human_attribute_name('venue') %></span>
          <span class="col-8 text-muted text-break"><%= event.venue %></span><br>
          <span class="h6 com-font-color col-4"><%= t('event.title.event_entry_count') %></span>
          <span class="col-8 text-muted text-break" data-link="<%= company_join_event_student_list_path(:id => event.id) %>"><%= @count[event.id] == nil ? '0' : @count[event.id] %><%= t('unit.persons')%></span><br>
          <span class="h6 com-font-color col-4"><%= t('event.title.publish_status') %></span>
          <span class="col-8 text-muted text-break"><%= currentDate.between?(event.post_start_date, event.post_end_date)? t("event.title.publishing") : ((currentDate > event.post_start_date &&  currentDate > event.post_end_date)? t("event.title.published") : t("event.title.un_publish")) %></span><br>                       
          <span class="h6 com-font-color col-4"><%= t('event.title.edit_text_title') %></span>
          <span class="col-8 text-muted text-break" data-link="<%= edit_company_event_path(:id => event.id)%>"><%= t('event.title.edit_text') %></span><br>
        </div>
      <% end %>                          
    </div>
    <div class="col-12 d-flex justify-content-center p-4">
      <%= paginate @company_events %>
    </div>
  </div>
</section>
<%= javascript_pack_tag 'common.js'%>