<div class="container p-3 p-sm-5">
  <div class="row justify-content-center my-5 p-2">
    <div class="col-12 col-xl-8">
      <div class="card login-card-shadow bg-white p-3 p-sm-5">
        <div class="text-group-left mb-4">          
            <h3 class="text-center"><%= t('genuine_password.title') %></h3>
            <% if @setting_user.user_type.eql?2 %>   
              <hr class="std-grandient-hr">   
            <% else %>     
              <hr class="com-grandient-hr">   
            <% end %>            
        </div>
        <%= form_with(model: @setting_user, url: genuine_password_change_path(@setting_user.confirmation_token), method: "patch") do |f| %>
        <%= render "users/shared/flash", resource: @setting_user %>
            <div class="mb-3">
              <div class="d-flex">
                  <%= f.label :password, class: "form-label" %>
                  <label class="ml-auto required-label"><%= t('common.require') %> </label>
              </div>
              <%= f.password_field :password, class: "form-control shadow-none errors" %>
              <p class="ms-invalid-feedback"><%= @setting_user.errors.full_messages_for(:password)[0] %></p>
            </div>  

            <div class="mb-4">
              <div class="d-flex">
                  <%= f.label :password_confirmation, class: "form-label" %>
                  <label class="ml-auto required-label"><%= t('common.require') %> </label>
              </div>
              <%= f.password_field :password_confirmation, class: "form-control shadow-none errors" %>
              <p class="ms-invalid-feedback"><%= @setting_user.errors.full_messages_for(:password_confirmation)[0] %></p>
            </div>

            <% if @setting_user.user_type.eql?2 %> 
            <div class="d-flex">
              <%= f.submit t('genuine_password.save_password'), class: "custom-btn text-white w-50 std-bg-color p-1 col-12 col-sm-12 " %>  
            </div>             
          <% else %>    
            <div class="d-flex justify-content-end">           
              <%= f.submit t('genuine_password.save_password'), class: "custom-btn text-white w-50 com-bg-color p-1 col-12 col-sm-12" %>  
            </div> 
          <% end %>  
      <% end %>
      </div>
   </div>
  </div> 
</div>
