<%= form_for( '',url: student_companies_search_path, :method => "get") do |form| %>
<section class="search container-fluid d-flex flex-column align-items-center px-0 mt-5 pt-0 pt-lg-5">   

    <%# first Panel Start %>
    <div class="col-11 bg-white p-4 mt-4 shadow info-box mb-4 mb-lg-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-5 col-lg-3 mb-2"> 
                <%=  select_tag :industry_id,options_for_select(industry_type_options.map { |ind| [ind.industry_name, ind.id] },params[:industry_id]),include_blank: t('student.search.view_all_industry_type'),class: 'form-control shadow-none errors' %>  
            </div> 
            <div class="col-12 col-md-5 col-lg-3 mb-2">
                <%= submit_tag t('btn.company_search') , :class => "custom-btn w-100 std-bg-color text-white" %>
            </div>  
        </div>      
    </div>
    <%# first Panel End %>

    <%# Second Panel Start %>   
    <div class="px-0 col-11 row mb-5">
        <div class="search-filter d-md-flex d-lg-block justify-content-around  px-0 col-12 col-lg-2">
            <div class="col-12 col-md-5 col-lg-12 px-0 px-3 py-4 shadow bg-white mb-3 info-box">
                <div class="mb-3 std-font-color"><span><%= t('search.filter_by') %></span></div>
                <%= link_to t('search.clear'), student_companies_search_path, class: "text-center custom-btn w-100 mb-2 text-decoration-none text-muted d-inline-block" %>
                <%= form.submit t('search.apply'), class: "custom-btn w-100 bg-white mb-2 text-muted" %>
            </div>
        </div> 
        <div class="search-result px-0 ml-0 pl-lg-4 col-12 col-lg-10 pb-5 mb-5 pl-md-2">
            <div class="row p-2 mx-0 shadow bg-white info-box">
                <div class="col-12 mb-3">
                    <h1><%= t('title.result') %></h1>
                </div>
                <% @companies.each do |company| %>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 mb-2 p-1">
                        <%= link_to (student_path(company)), class: "text-decoration-none" do %>
                        <div class="row mx-0 info-box shadow">                            
                            <div class="col-12 px-0 profile-image">
                                <div class="profile-name position-absolute std-bg-color col-6 d-flex align-items-center text-truncate">
                                    <h5 class="text-white warp-text mb-0"><%= company.company_name %></h5>
                                </div>
                                <div class="fav-ico position-absolute text-white col-2 "><i class="pr-1 fa-heart fa <%= @student_favourite_arr.include?(company.id) ? 'active' : 'inactive' %>"></i></div>
                                <% if company.image.attached? %>
                                    <%= image_tag (company.image), :class=> "img-responsive" %>
                                <% else %>        
                                    <%= image_tag "avatar/building.jpg", :class=> "Responsive image" %>
                                <% end %>
                            </div>
                           <div class="col-12 profile-info my-3 d-flex flex-column">                            
                                <label class="h6 mb-0 std-tile-color"><%= Company::Company.human_attribute_name('employee_count')%></label>
                                <span class="mb-2"><%= company.employee_count %><%= t "unit.persons" %></span>
                                <label class="h6 mb-0 std-tile-color"><%= Company::Company.human_attribute_name('m_industry_id') %></label>
                                <span class="mb-2"><%= company.industry_name %></span>
                            </div>   
                          
                        </div>
                        <% end %>
                    </div>
                <% end %>
                <% unless @companies.present?  %>
                    <div class="col-12 m-2">
                        <h3> <%= (t "search.no_result") %></h3>
                    </div>
                <% end %>
                <div class="col-12 d-flex justify-content-center p-4">
                    <%= paginate @companies %>
                </div>
            </div>  
        </div>
    </div>    
    <%# Second Panel End %>
</section>
<% end %>