<%- if @resource.user_type.eql?2%>
<%
 student = @resource.student
 name = "#{student.last_name} #{student.first_name}"
%>
<% else %>
<%
 company = @resource.company
 name = company.company_name
%>
<% end %>
<p><%= t('confirmations.reset_password.hello') %>   <%=name %> <%= t('confirmations.welcome_user') %></p>
<p><%= t('confirmations.reset_password.request_link') %></p>
<p><%= link_to  t('confirmations.reset_password.change_password'), edit_password_url(@resource, reset_password_token: @token, user_type: @resource.user_type) %></p>
<p><%= t('confirmations.reset_password.ignore_email') %></p>
<p><%= t('confirmations.reset_password.password_link') %></p>




